* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background: ;
} */

.calculator {
    margin: 0 auto;
    margin-top: 100px;
    width: 330px;
    padding: 5px;
    border: 2px solid #333;
    background: salmon;
    box-shadow: 1px 7px 12px rgba(0, 0, 10, .5);
}

.calculator form {
    display: grid;
    /* 옆으로 4개씩 , 75px */
    grid-template-columns: repeat(4, 75px);
    /* hegih ? row가 75px씩 */
    grid-auto-rows: 75px;
    /* grid끼리 서로 5px씩 갭 */
    grid-gap: 5px;
}

.calculator form input {
    border: 2px solid #333;
    cursor: pointer;
    font-size: 20px;
}

.calculator form input:hover {
    box-shadow: 1px 1px 2px rgba(255, 203, 241, .9);
}

.calculator form .clear {
    background: #ed4848;
    /* grid 3칸 */
    grid-column: span 3;
}

.calculator form .operator {
    background: rgba(255, 203, 241, .9);
}

.calculator form .dot {
    background: green;
}

.calculator form input[type="text"] {
    /* gird 4칸 차지 */
    grid-column: span 4;
    letter-spacing: 2px;
    text-align: right;
    padding: 0 10px;
}

.calculator form .back {
    background: #3e3e3e;
    font-size: 30px;
}